@model AbyssRunSite.Models.EnemyModel
    
<section class="jumbotron">
        <h1>Enemy Details</h1>
</section>
    <h2>@Html.DisplayFor(model => model.EnemyName)</h2>
    <hr />
    <dl class="d-lg-inline-block">
        <dt>
            @Html.DisplayNameFor(model => model.EnemyImageSrc)
        </dt>
            @if (Model.EnemyImageSrc != "" && Model.EnemyImageSrc != null)
            {
                <dd>
                    <img src=@Url.Content(Model.EnemyImageSrc) alt="@Html.DisplayFor(model => Model.EnemyName)" />
                </dd>
            }
            else
            {
                <dd>No Image Available</dd>
            }
        

        <dt>
            @Html.DisplayNameFor(model => model.EnemyHP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnemyHP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnemyAttack)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnemyAttack)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnemyDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnemyDescription)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.EnemyImageSrc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnemyImageSrc)
        </dd>*@

    </dl>
</>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
