@model IEnumerable<AbyssRunSite.Models.EnemyModel>

<article class="jumbotron">
    <h1>Enemies</h1>
</article>

<section class="col-12 jumbotron-fluid">
    <table class="table table-responsive-lg bg-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.EnemyName)</th>
            <th>@Html.DisplayNameFor(model => model.EnemyImageSrc)</th>
            <th>@Html.DisplayNameFor(model => model.EnemyDescription)</th>
            <th>Options</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.EnemyName)</td>
                @if (item.EnemyImageSrc != "" && item.EnemyImageSrc != null)
                {
                    <td>
                        <img src=@Url.Content(item.EnemyImageSrc) alt="@Html.DisplayFor(modelItem => item.EnemyName)" />
                    </td>
                }
                else
                {
                    <td>No Image Available</td>
                }
                <td>@Html.DisplayFor(modelItem => item.EnemyDescription)</td>
                <td>@Html.ActionLink("Details", "Details", new { id = item.Id })</td>

            </tr>
        }
    </table>

</section>
